<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="SqlDatabase_PublicSportData"
         connectionString="Data Source=10.10.54.206\SQLEXPRESS; Initial Catalog=SuperSportDataEngine_PublicSportData;User ID=sa;Password=InkNP7C\0(Pkb5D"
         providerName="System.Data.SqlClient"
         xdt:Transform="Replace"
         xdt:Locator="Match(name)" />
    <add name="SqlDatabase_SystemSportData"
         connectionString="Data Source=10.10.54.206\SQLEXPRESS; Initial Catalog=SuperSportDataEngine_SystemSportData;User ID=sa;Password=InkNP7C\0(Pkb5D"
         providerName="System.Data.SqlClient"
         xdt:Transform="Replace"
         xdt:Locator="Match(name)" />
  </connectionStrings>
</configuration>
