<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" xmlns="http://www.nlog-project.org/schemas/NLog.xsd">

  <targets>
    <target 
      xsi:type="Slack"
      name="slackTarget"
      layout="${message}"
      channel="#supersport-data-ops"
      username="NLog.Slack"
      compact="false"
      icon=":ghost:"
      webHookUrl="https://hooks.slack.com/services/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"
      xdt:Transform="Replace"
      xdt:Locator="Match(xsi:type)"/>
  </targets>
</nlog>