<?xml version="1.0" encoding="utf-8"?>
<!-- TODO: Handle configuration settings correctly to load according to the deployed environment. -->
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="Redis" connectionString="localhost" />
    <add name="MongoDB" connectionString="mongodb://localhost:27017" />
    <add name="SqlDatabase_Hangfire" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=SuperSportDataEngine_Hangfire;Integrated Security=True;Max Pool Size=200;" providerName="System.Data.SqlClient" />
    <add name="SqlDatabase_PublicSportData" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=SuperSportDataEngine_PublicSportData;Integrated Security=True;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
    <add name="SqlDatabase_SystemSportData" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=SuperSportDataEngine_SystemSportData;Integrated Security=True;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <contexts>
      <context type="SuperSportDataEngine.Repository.EntityFramework.PublicSportData.Context.PublicSportDataContext, SuperSportDataEngine.Repository.EntityFramework.PublicSportData">
        <databaseInitializer type="SuperSportDataEngine.Repository.EntityFramework.PublicSportData.Context.PublicSportDatabaseInitializer, SuperSportDataEngine.Repository.EntityFramework.PublicSportData" />
      </context>
      <context type="SuperSportDataEngine.Repository.EntityFramework.SystemSportData.Context.SystemSportDataContext, SuperSportDataEngine.Repository.EntityFramework.SystemSportData">
        <databaseInitializer type="SuperSportDataEngine.Repository.EntityFramework.SystemSportData.Context.SystemSportDatabaseInitializer, SuperSportDataEngine.Repository.EntityFramework.SystemSportData" />
      </context>
    </contexts>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="HangfireDashboardUrl" value="http://localhost:9622" />
    <!-- Jobs that are completed in hangfire will be deleted in the following number of days. -->
    <add key="JobExpirationTimeoutInDays" value="20" />

    <!-- Settings for reference data -->
    <add key="FixedScheduledJob_ReferenceData_JobId" value="Rugby→StatsProzone→FixedScheduleJob→ReferenceData" />
    <!-- Everyday at 2:00am -->
    <add key="FixedScheduledJob_ReferenceData_JobCronExpression" value="0 2 * * *" />

    <!-- Settings for Player Stats -->
    <add key="ScheduleManagerJob_PlayerStats_CurrentTournaments_JobIdPrefix" value="Rugby→StatsProzone→ScheduleManagerJob→PlayerStats→" />
    <add key="ScheduleManagerJob_PlayerStats_CurrentTournaments_JobCronExpression" value="0 */12 * * *" />

    <!-- Settings for fixtures -->
    <add key="FixedScheduledJob_FixturesData_JobId" value="Rugby→StatsProzone→FixedScheduleJob→Fixtures" />
    <!-- Everyday at 2:05am -->
    <add key="FixedScheduledJob_FixturesData_JobCronExpression" value="0 2 * * *" />

    <add key="FixedScheduledJob_Lineups_Hourly_JobId" value="Rugby→StatsProzone→FixedScheduleJob→Lineups" />
    <add key="FixedScheduledJob_Lineups_Hourly_jobCronExpression" value="0 * * * *" />

    <add key="FixedScheduledJob_Lineups_PastGames_Hourly_JobId" value="Rugby→StatsProzone→FixedScheduleJob→Lineups→PastFixtures" />
    <add key="FixedScheduledJob_Lineups_PastGames_Hourly_jobCronExpression" value="0 * * * *" />

    <add key="FixedScheduledJob_Cleanup_Monthly_JobId" value="Rugby→StatsProzone→FixedScheduleJob→Cleanup→TrackingTables" />
    <add key="FixedScheduledJob_Cleanup_Monthly_JobCronExpression" value="0 0 1 * *" />

    <!-- Settings for logs -->
    <add key="FixedScheduledJob_LogsData_ActiveTournaments_JobId" value="Rugby→StatsProzone→FixedScheduleJob→Logs→ActiveTournaments" />
    <!-- Everyday at 2:05am -->
    <add key="FixedScheduledJob_LogsData_ActiveTournaments_JobCronExpression" value="0 2 * * *" />

    <!-- Settings for logs -->
    <add key="FixedScheduledJob_LogsData_CurrentTournaments_JobId" value="Rugby→StatsProzone→FixedScheduleJob→Logs→CurrentTournaments" />
    <!-- Every 1 hour -->
    <add key="FixedScheduledJob_LogsData_CurrentTournaments_JobCronExpression" value="*/15 * * * *" />

    <!-- Settings for fixtures -->
    <add key="ScheduleManagerJob_Fixtures_CurrentTournaments_JobIdPrefix" value="Rugby→StatsProzone→ScheduleManagerJob→Fixtures→" />
    <add key="ScheduleManagerJob_Fixtures_CurrentTournaments_JobCronExpression" value="*/2 * * * *" />

    <!-- Settings for fixtures -->
    <add key="ScheduleManagerJob_Fixtures_ActiveTournaments_JobIdPrefix" value="Rugby→StatsProzone→ScheduleManagerJob→ChildJob→Fixtures→OneMonthFixtures→" />
    <add key="ScheduleManagerJob_Fixtures_ActiveTournaments_JobCronExpression" value="0 * * * *" />

    <!-- Settings for logs manager-->
    <add key="ScheduleManagerJob_Logs_CurrentTournaments_JobIdPrefix" value="Rugby→StatsProzone→ScheduleManagerJob→Logs→" />
    <add key="ScheduleManagerJob_Logs_CurrentTournaments_JobCronExpression_15Minutes" value="*/15 * * * *" />
    <add key="ScheduleManagerJob_Logs_CurrentTournaments_JobCronExpression_OneMinute" value="*/1 * * * *" />

    <add key="ScheduleManagerJob_Logs_CurrentTournaments_HighFrequencyPolling_CronExpression" value="*/1 * * * *" />
    <add key="ScheduleManagerJob_Logs_CurrentTournaments_HighFrequencyPolling_ExpiryInMinutes" value="15" />

    <add key="ScheduleManagerJob_Logs_CurrentTournaments_LowFrequencyPolling_CronExpression" value="*/15 * * * *" />
    <add key="ScheduleManagerJob_Logs_CurrentTournaments_LowFrequencyPolling_ExpiryInMinutes" value="60" />

    <!-- Settings for results -->
    <!-- Everyday at 2:05am for a week's data-->
    <add key="FixedScheduledJob_ResultsData_Daily_JobId" value="Rugby→StatsProzone→FixedScheduleJob→Results→AllFixtures" />
    <add key="FixedScheduledJob_ResultsData_Daily_PollingExpression" value="5 2 * * *" />

    <!-- Every hour for the next 3 days-->
    <add key="FixedScheduledJob_ResultsData_Hourly_JobId" value="Rugby→StatsProzone→FixedScheduleJob→Results→EndedFixtures" />
    <add key="FixedScheduledJob_ResultsData_Hourly_PollingExpression" value="0 * * * *" />

    <!-- Every 15 minutes on fixture day-->
    <add key="FixedScheduledJob_ResultsData_OnFixtureDay_JobId" value="Rugby→StatsProzone→FixedScheduleJob→Results→CurrentDayFixtures" />
    <add key="FixedScheduledJob_ResultsData_OnFixtureDay_PollingExpression" value="*/15 * * * *" />
    <!-- End Settings for results -->

    <add key="LiveManagerJob_LiveMatch_JobIdPrefix" value="Rugby→StatsProzone→LiveManagerJob→LiveMatch→" />
    <add key="LiveManagerJob_LiveMatch_JobCronExpression" value="0 0 29 2/12000 WED" />

    <add key="FixedScheduledJob_LiveData_PastFixtures_JobIdPrefix" value="Rugby→StatsProzone→FixedManagerJob→IngestPastDataForFixtures" />
    <add key="FixedScheduledJob_LiveData_PastFixtures_JobCronExpression" value="0 2 * * *" />

    <add key="FixedScheduledJob_LiveData_PastFewDaysFixtures_JobIdPrefix" value="Rugby→StatsProzone→FixedManagerJob→IngestPastFewDaysDataForFixtures" />
    <add key="FixedScheduledJob_LiveData_PastFewDaysFixtures_JobCronExpression" value="0 2 * * *" />

    <add key="FixedScheduledJob_PastSeasonsFixtures_ActiveTournaments_JobIdPrefix" value="Rugby→StatsProzone→FixedManagerJob→IngestPastSeasonsForActiveTournaments" />
    <add key="FixedScheduledJob_PastSeasonsFixtures_ActiveTournaments_JobCronExpression" value="0 0 29 2/12000 WED" />

    <!-- Settings for motorsport reference data-->
    <!-- Runs everyday at 2:30am -->
    <add key="MotorsportFixedScheduleJob_Leagues_JobId" value="Motorsport→Stats→FixedScheduleJob→Leagues" />
    <add key="MotorsportFixedScheduleJob_Leagues_JobCronExpression" value="30 2 * * *" />

    <!-- Runs everyday at 2:30am -->
    <add key="MotorsportFixedScheduleJob_Seasons_JobId" value="Motorsport→Stats→FixedScheduleJob→Seasons" />
    <add key="MotorsportFixedScheduleJob_Seasons_JobCronExpression" value="30 2 * * *" />

    <!-- Runs everyday at 2:30am -->
    <add key="MotorsportFixedScheduleJob_Races_JobId" value="Motorsport→Stats→FixedScheduleJob→Races" />
    <add key="MotorsportFixedScheduleJob_Races_JobCronExpression" value="30 2 * * *" />

    <!-- Runs everyday at 2:30am -->
    <add key="MotorsportFixedScheduleJob_RaceEvents_JobId" value="Motorsport→Stats→FixedScheduleJob→RaceEvents" />
    <add key="MotorsportFixedScheduleJob_RaceEvents_JobCronExpression" value="30 2 * * *" />

    <!-- Runs everyday at 2:30am -->
    <add key="MotorsportFixedScheduleJob_Drivers_JobId" value="Motorsport→Stats→FixedScheduleJob→Drivers" />
    <add key="MotorsportFixedScheduleJob_Drivers_JobCronExpression" value="30 2 * * *" />

    <!-- Runs everyday at 2:30am -->
    <add key="MotorsportFixedScheduleJob_Teams_JobId" value="Motorsport→Stats→FixedScheduleJob→Teams" />
    <add key="MotorsportFixedScheduleJob_Teams_JobCronExpression" value="30 2 * * *" />
    <!-- END: Settings for motorsport reference data-->

    <!-- Runs everyday at 2:30am -->
    <add key="MotorsportFixedScheduleJob_ActiveLeaguesRaceEventsGrids_JobId" value="Motorsport→Stats→FixedScheduleJob→RaceEventsGrids" />
    <add key="MotorsportFixedScheduleJob_ActiveLeaguesRaceEventsGrids_JobCronExpression" value="30 2 * * *" />

    <!-- Race event results. Runs everyday at 2:30am -->
    <add key="MotorsportFixedScheduleJob_RaceEventsResults_JobId" value="Motorsport→Stats→FixedScheduleJob→RaceEventsResults" />
    <add key="MotorsportFixedScheduleJob_RaceEventsResults_JobCronExpression" value="30 2 * * *" />

    <!-- Runs everyday at 2:30am -->
    <add key="MotorsportFixedScheduleJob_DriverStandings_JobId" value="Motorsport→Stats→FixedScheduleJob→DriverStandings" />
    <add key="MotorsportFixedScheduleJob_DriverStandings_JobCronExpression" value="30 2 * * *" />

    <!-- Runs everyday at 2:30am -->
    <add key="MotorsportFixedScheduleJob_TeamStandings_JobId" value="Motorsport→Stats→FixedScheduleJob→TeamStandings" />
    <add key="MotorsportFixedScheduleJob_TeamStandings_JobCronExpression" value="30 2 * * *" />

    <!-- Run times are controlled by the thread sleep time -->
    <!-- The cron expression value used will prevent hangire from automatically starting the job -->
    <add key="MotorsportChildJob_RaceEventsResults_JobIdPrefix" value="Motorsport→Stats→ChildJob→RaceEventsResults→" />
    <add key="MotorsportChildJob_RaceEventsResults_JobCronExpression" value="0 0 29 2/12000 WED" />
    <add key="MotorsportChildJob_RaceEventsResults_ThreadSleepInSeconds" value="60" />
    <add key="MotorsportChildJob_RaceEventsResults_PollingDurationInMinutes" value="120" />

    <!-- Run times are controlled by the thread sleep time -->
    <!-- The cron expression value used will prevent hangire from automatically starting the job -->
    <add key="MotorsportChildJob_DriverStandings_JobIdPrefix" value="Motorsport→Stats→ChildJob→DriverStandings→" />
    <add key="MotorsportChildJob_DriverStandings_JobCronExpression" value="0 0 29 2/12000 WED" />
    <add key="MotorsportChildJob_DriverStandings_ThreadSleepInSeconds" value="60" />
    <add key="MotorsportChildJob_DriverStandings_PollingDurationInMinutes" value="120" />
    
    <!-- Run times are controlled by the thread sleep time -->
    <!-- The cron expression value used will prevent hangire from automatically starting the job -->
    <add key="MotorsportChildJob_TeamStandings_JobIdPrefix" value="Motorsport→Stats→ChildJob→TeamStandings→" />
    <add key="MotorsportChildJob_TeamStandings_JobCronExpression" value="0 0 29 2/12000 WED" />
    <add key="MotorsportChildJob_TeamStandings_ThreadSleepInSeconds" value="60" />
    <add key="MotorsportChildJob_TeamStandings_PollingDurationInMinutes" value="120" />

    <!-- Run times are controlled by the thread sleep time -->
    <!-- The cron expression value used will prevent hangire from automatically starting the job -->
    <add key="MotorsportChildJob_RaceEventGrid_JobIdPrefix" value="Motorsport→Stats→ChildJob→RaceEventGrid→" />
    <add key="MotorsportChildJob_RaceEventGrid_JobCronExpression" value="0 0 29 2/12000 WED" />
    <add key="MotorsportChildJob_RaceEventGrid_ThreadSleepInSeconds" value="60" />
    <add key="MotorsportChildJob_RaceEventGrid_PollingDurationInMinutes" value="120" />
    <add key="MotorsportChildJob_RaceEventGrid_TimeToStartJobBeforeEventStartsInHours" value="72" />

    <!-- Run times are controlled by the thread sleep time -->
    <!-- The cron expression value used will prevent hangire from automatically starting the job -->
    <add key="MotorsportChildJob_LeagueCalendar_JobIdPrefix" value="Motorsport→Stats→ChildJob→LeagueCalendar→" />
    <add key="MotorsportChildJob_LeagueCalendar_JobCronExpression" value="0 0 29 2/12000 WED" />
    <add key="MotorsportChildJob_LeagueCalendar_ThreadSleepInSeconds" value="60" />
    <add key="MotorsportChildJob_LeagueCalendar_PollingDurationInMinutes" value="120" />
    <add key="MotorsportChildJob_LeagueCalendar_TimeToStartJobBeforeEventStartsInHours" value="2" />
    
    <!-- Runs everyday at 2:30am -->
    <add key="MotorsportFixedScheduleJob_SetCurrentEvents_JobId" value="Motorsport→Stats→FixedScheduleJob→System→SetCurrentRaceEvents" />
    <add key="MotorsportFixedScheduleJob_SetCurrentEvents_JobCronExpression" value="0 */1 * * *" />

    <!-- Run manually -->
    <add key="MotorsportFixedScheduleJob_HistoricRaceEventsGrids_JobId" value="Motorsport→Stats→FixedScheduleJob→OnceOffHistoricRaceEventsGrid" />
    <add key="MotorsportFixedScheduleJob_HistoricRaceEventsGrids_JobCronExpression" value="0 0 29 2/12000 WED" />

    <!-- Run manually -->
    <add key="MotorsportFixedScheduleJob_HistoricRaces_JobId" value="Motorsport→Stats→FixedScheduleJob→OnceOffHistoricRaces" />
    <add key="MotorsportFixedScheduleJob_HistoricRaces_JobCronExpression" value="0 0 29 2/12000 WED" />

    <!-- Run manually -->
    <add key="MotorsportFixedScheduleJob_HistoricRaceEvents_JobId" value="Motorsport→Stats→FixedScheduleJob→OnceOffHistoricRaceEvents" />
    <add key="MotorsportFixedScheduleJob_HistoricRaceEvents_JobCronExpression" value="0 0 29 2/12000 WED" />

    <!-- Run manually -->
    <add key="MotorsportFixedScheduleJob_HistoricRaceEventsResults_JobId" value="Motorsport→Stats→FixedScheduleJob→OnceOffHistoricRaceEventsResults" />
    <add key="MotorsportFixedScheduleJob_HistoricRaceEventsResults_JobCronExpression" value="0 0 29 2/12000 WED" />

    <!-- Run manually -->
    <add key="MotorsportFixedScheduleJob_HistoricTeamStandings_JobId" value="Motorsport→Stats→FixedScheduleJob→OnceOffHistoricTeamStandings" />
    <add key="MotorsportFixedScheduleJob_HistoricTeamStandings_JobCronExpression" value="0 0 29 2/12000 WED" />

    <!-- Run manually -->
    <add key="MotorsportFixedScheduleJob_HistoricDriverStandings_JobId" value="Motorsport→Stats→FixedScheduleJob→OnceOffHistoricDriverStandings" />
    <add key="MotorsportFixedScheduleJob_HistoricDriverStandings_JobCronExpression" value="0 0 29 2/12000 WED" />

    <!-- Run times are controlled by the thread sleep time-->
    <!-- The cron expression value used will prevent hangire from automatically starting the job-->
    <add key="Motorsport_LiveRaceJob_JobIdPrefix" value="Motorsport→Stats→LiveJob→" />
    <add key="Motorsport_LiveRaceJob_JobCronExpression" value="0 0 29 2/12000 WED" />
    <add key="Motorsport_LiveRaceJob_ThreadSleepPollingInSeconds" value="30" />

    <!-- Hangfire dashboard user credentials-->
    <add key="SchedulerDashboardUsername" value="devuser1" />
    <add key="SchedulerDashboardPassword" value="password" />

    <add key="RugbyIngestEnabled" value="true" />
    <add key="MotorsportIngestEnabled" value="true" />
    <add key="maximumTimeForRequestWithResponseInMilliseconds" value="100000" />
    <add key="maximumTimeForResponseInMilliseconds" value="180000" />
    <add key="loggingTtlInMinutes" value="15" />
    <add key="WarningThresholdForJobsTakingTooLongInMinutes" value="30" />
    <add key="ErrorThresholdForJobsTakingTooLongInMinutes" value="60" />
    <add key="MotorsportWarningThresholdForJobsTakingTooLongInMinutes" value="78" />
    <add key="MotorsportErrorThresholdForJobsTakingTooLongInMinutes" value="80" />
    <add key="MaxNumberOfRecentFixturesToConsider" value="10" />
    <add key="MaxNumberOfHoursToCheckForResults" value="5" />
    <add key="MaxNumberOfHoursToCheckForUpcomingFixtures" value="3" />
    <add key="MaxNumberOfHoursToCheckForPreviousFixtures" value="3" />
    <add key="HalfTimeMaximumDurationInMinutes" value="10" />
    <add key="ManagerLoopTimeInSeconds" value="60" />
    <add key="NumberOfMinutesToCheckForInProgressFixtures" value="120" />
  </appSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd" autoReload="true" throwExceptions="true" internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

    <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
    <variable name="myvar" value="myvalue" />

    <extensions>
      <add assembly="NLog.MSFTTeams" />
    </extensions>
    <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
    <targets>
      <target name="f" xsi:type="File" layout="${longdate} ${logger} ${message} ${exception:format=tostring}" fileName="${basedir}/logs/current.log" archiveFileName="${basedir}/logs/archive.{#}.log" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="7" concurrentWrites="true" keepFileOpen="false" encoding="iso-8859-2" />
      <target name="console" xsi:type="ColoredConsole" layout="${longdate} ${logger} ${message} ${exception:format=tostring}" />
      <target name="debug" xsi:type="Debugger" layout="${longdate} ${logger} ${message} ${exception:format=tostring}" />

      <target xsi:type="MSFTTeamsTarget" name="MSFTTeamsTarget" layout="${message}" ThemeColorError="FF0000" ThemeColorDefault="" WebHookUrl="https://outlook.office.com/webhook/37cf758b-461f-4119-8827-029240d8d40f@5313c061-2dd7-4e7c-aa59-b31ab4ca92a2/IncomingWebhook/9355ef320ee74e5fbca8bbbc1bf5f620/f167c590-a64a-4f82-aeb1-d3d95ed3dc08" />
    </targets>

    <rules>
      <logger name="*" minlevel="Trace" writeTo="console,debug,f" />
      <logger name="*" minlevel="Warn" writeTo="MSFTTeamsTarget" />
    </rules>
  </nlog>
</configuration>