<?xml version="1.0" encoding="utf-8"?>
<!-- TODO: Handle configuration settings correctly to load according to the deployed environment. -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="MongoDB" connectionString="mongodb://localhost:27017" />
    <add name="SqlDatabase_Hangfire" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=SuperSportDataEngine_Hangfire;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="SqlDatabase_PublicSportData" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=SuperSportDataEngine_PublicSportData;Integrated Security=True;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
    <add name="SqlDatabase_SystemSportData" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=SuperSportDataEngine_SystemSportData;Integrated Security=True;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <contexts>
      <context type="SuperSportDataEngine.Repository.EntityFramework.PublicSportData.Context.PublicSportDataContext, SuperSportDataEngine.Repository.EntityFramework.PublicSportData">
        <databaseInitializer type="SuperSportDataEngine.Repository.EntityFramework.PublicSportData.Context.PublicSportDatabaseInitializer, SuperSportDataEngine.Repository.EntityFramework.PublicSportData" />
      </context>
      <context type="SuperSportDataEngine.Repository.EntityFramework.SystemSportData.Context.SystemSportDataContext, SuperSportDataEngine.Repository.EntityFramework.SystemSportData">
        <databaseInitializer type="SuperSportDataEngine.Repository.EntityFramework.SystemSportData.Context.SystemSportDatabaseInitializer, SuperSportDataEngine.Repository.EntityFramework.SystemSportData" />
      </context>
    </contexts>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="HangfireDashboardUrl" value="http://localhost:9622" />
    <!-- Jobs that are completed in hangfire will be deleted in the following number of days. -->
    <add key="JobExpirationTimeoutInDays" value="20" />

    <!-- Settings for reference data -->
    <add key="FixedScheduledJob_ReferenceData_JobId" value="FixedScheduleJob→ReferenceData" />
    <!-- Everyday at 2:00am -->
    <add key="FixedScheduledJob_ReferenceData_JobCronExpression" value="0 2 * * *" />

    <!-- Settings for fixtures -->
    <add key="FixedScheduledJob_FixturesData_JobId" value="FixedScheduleJob→Fixtures" />
    <!-- Everyday at 2:05am -->
    <add key="FixedScheduledJob_FixturesData_JobCronExpression" value="30 2 * * *" />

    <add key="FixedScheduledJob_Lineups_Hourly_JobId" value="FixedScheduleJob→Lineups" />
    <add key="FixedScheduledJob_Lineups_Hourly_jobCronExpression" value="0 3-23,0-1 * * *" />

    <add key="FixedScheduledJob_Lineups_PastGames_Hourly_JobId" value="FixedScheduleJob→Lineups→PastMonthsFixtures" />
    <add key="FixedScheduledJob_Lineups_PastGames_Hourly_jobCronExpression" value="0 3-23,0-1 * * *" />
    
    <add key="FixedScheduledJob_Cleanup_Monthly_JobId" value="FixedScheduleJob→Cleanup→TrackingTables" />
    <add key="FixedScheduledJob_Cleanup_Monthly_JobCronExpression" value="0 0 1 * *" />
    
    <!-- Settings for logs -->
    <add key="FixedScheduledJob_LogsData_ActiveTournaments_JobId" value="FixedScheduleJob→Logs→ActiveTournaments" />
    <!-- Everyday at 2:05am -->
    <add key="FixedScheduledJob_LogsData_ActiveTournaments_JobCronExpression" value="30 2 * * *" />

    <!-- Settings for logs -->
    <add key="FixedScheduledJob_LogsData_CurrentTournaments_JobId" value="FixedScheduleJob→Logs→CurrentTournaments" />
    <!-- Every 1 hour -->
    <add key="FixedScheduledJob_LogsData_CurrentTournaments_JobCronExpression" value="0 3-23,0-1 * * *" />

    <!-- Settings for fixtures -->
    <add key="ScheduleManagerJob_Fixtures_CurrentTournaments_JobIdPrefix" value="ScheduleManagerJob→Fixtures→" />
    <add key="ScheduleManagerJob_Fixtures_CurrentTournaments_JobCronExpression" value="1-59 3-23,0-1 * * *" />

    <!-- Settings for fixtures -->
    <add key="ScheduleManagerJob_Fixtures_ActiveTournaments_JobIdPrefix" value="ScheduleManagerJob→ChildJob→Fixtures→OneMonthFixtures→" />
    <add key="ScheduleManagerJob_Fixtures_ActiveTournaments_JobCronExpression" value="0 3-23,0-1 * * *" />
    
    <!-- Settings for logs manager-->
    <add key="ScheduleManagerJob_Logs_CurrentTournaments_JobIdPrefix" value="ScheduleManagerJob→Logs→" />
    <add key="ScheduleManagerJob_Logs_CurrentTournaments_JobCronExpression_15Minutes" value="*/15 3-23,0-1 * * *" />
    <add key="ScheduleManagerJob_Logs_CurrentTournaments_JobCronExpression_OneMinute" value="*/1 3-23,0-1 * * *" />
    
    <add key="ScheduleManagerJob_Logs_CurrentTournaments_HighFrequencyPolling_CronExpression" value="*/1 * * * *" />
    <add key="ScheduleManagerJob_Logs_CurrentTournaments_HighFrequencyPolling_ExpiryInMinutes" value="15" />

    <add key="ScheduleManagerJob_Logs_CurrentTournaments_LowFrequencyPolling_CronExpression" value="*/15 * * * *" />
    <add key="ScheduleManagerJob_Logs_CurrentTournaments_LowFrequencyPolling_ExpiryInMinutes" value="60" />

    <!-- Settings for results -->    
      <!-- Everyday at 2:05am for a week's data-->
      <add key="FixedScheduledJob_ResultsData_Daily_JobId" value="FixedScheduleJob→Results→AllFixtures" />
      <add key="FixedScheduledJob_ResultsData_Daily_PollingExpression" value="5 2 * * *" />

      <!-- Every hour for the next 3 days-->
      <add key="FixedScheduledJob_ResultsData_Hourly_JobId" value="FixedScheduleJob→Results→EndedFixtures" />
      <add key="FixedScheduledJob_ResultsData_Hourly_PollingExpression" value="0 3-23,0-1 * * *" />

      <!-- Every 15 minutes on fixture day-->
      <add key="FixedScheduledJob_ResultsData_OnFixtureDay_JobId" value="FixedScheduleJob→Results→CurrentDayFixtures" />
      <add key="FixedScheduledJob_ResultsData_OnFixtureDay_PollingExpression" value="*/15 3-23,0-1 * * *" />
    <!-- End Settings for results -->

    <add key="LiveManagerJob_LiveMatch_JobIdPrefix" value="LiveManagerJob→LiveMatch→" />
    <add key="LiveManagerJob_LiveMatch_JobCronExpression" value="0 */4 * * *" />
    
    <!-- Hangfire dashboard user credentials-->
    <add key="SchedulerDashboardUsername" value="devuser1" />
    <add key="SchedulerDashboardPassword" value="password" />
    
  </appSettings>
</configuration>