<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>pyIVF3SualaksHT6C21o6NJyYTf1RY6Znk6k+3RXXwwOoIVohWSvcdbKvn0VvHGHMbZzvdIsAvGEpSdSfQCKggX30OzsnHtqdZGC8RBJCwHWVohy355KlwGgJVQpvv5LlUtGA72z9kUCMUk6rWbLw7QcJRjleroE5hTVej4EZcY=</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>yOUd+Chz30uE8owKf2OvDnf6cHxcXSfcaq+30pautHI=</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
</configuration>