<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <appSettings>
    <add key="SuperSportFeed.IpAddress" value="feed.supersport.com"
         xdt:Transform="Replace"
         xdt:Locator="Match(key)" />
    <add key="Host.SuperSportDeprecatedFeed" value="http://feed.supersport.com"
         xdt:Transform="Replace"
         xdt:Locator="Match(key)" />    
  </appSettings>
  <connectionStrings configSource="secrets.config" xdt:Transform="SetAttributes(configSource)">
    <add xdt:Transform="RemoveAll" />
  </connectionStrings>
  <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" xmlns="http://www.nlog-project.org/schemas/NLog.xsd">
    <targets>
      <target
        xsi:type="MSFTTeamsTarget"
        name="MSFTTeamsTarget"
        layout="${message}"
        ThemeColorError="FF0000"
        ThemeColorDefault=""
        WebHookUrl="https://outlook.office.com/webhook/37cf758b-461f-4119-8827-029240d8d40f@5313c061-2dd7-4e7c-aa59-b31ab4ca92a2/IncomingWebhook/7f7a74f84ec34426a21bf4bccdba86a7/f167c590-a64a-4f82-aeb1-d3d95ed3dc08" 
        xdt:Transform="Replace"
        xdt:Locator="Match(name)"/>
    </targets>
  </nlog>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>