<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="MongoDB"
     connectionString="mongodb://supersportapp:8tUW=BMygu@10.10.52.5:27017/SuperSportDataEngine_RawPayloadData"
     xdt:Transform="Replace"
     xdt:Locator="Match(name)"/>
    <add name="SqlDatabase_Hangfire"
         connectionString="Data Source=10.10.4.40; Initial Catalog=SuperSportDataEngine_Hangfire;User ID=SuperSportDataEngine;Password=NSKHXp8JdMfyDX2J"
         providerName="System.Data.SqlClient"
         xdt:Transform="Replace"
         xdt:Locator="Match(name)"/>
    <add name="SqlDatabase_PublicSportData"
         connectionString="Data Source=10.10.4.40; Initial Catalog=SuperSportDataEngine_PublicSportData;User ID=SuperSportDataEngine;Password=NSKHXp8JdMfyDX2J"
         providerName="System.Data.SqlClient"
         xdt:Transform="Replace"
         xdt:Locator="Match(name)" />
    <add name="SqlDatabase_SystemSportData"
         connectionString="Data Source=10.10.4.40; Initial Catalog=SuperSportDataEngine_SystemSportData;User ID=SuperSportDataEngine;Password=NSKHXp8JdMfyDX2J"
         providerName="System.Data.SqlClient"
         xdt:Transform="Replace"
         xdt:Locator="Match(name)" />
  </connectionStrings>
</configuration>