<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="Redis" connectionString="localhost" />
    <add name="MongoDB" connectionString="mongodb://localhost:27017" />
    <add name="SqlDatabase_Hangfire" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=SuperSportDataEngine_Hangfire;Integrated Security=True;Max Pool Size=200;" providerName="System.Data.SqlClient" />
    <add name="SqlDatabase_PublicSportData" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=SuperSportDataEngine_PublicSportData;Integrated Security=True;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
    <add name="SqlDatabase_SystemSportData" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=SuperSportDataEngine_SystemSportData;Integrated Security=True;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DnsClient" publicKeyToken="4574bb5573c51424" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.1.0" newVersion="1.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="MongoDbName" value="supersport-dataengine" />
    <add key="WorkerCountMultiplier" value="30" />
    <!-- Jobs that are completed in hangfire will be deleted in the following number of days. -->
    <add key="JobExpirationTimeoutInDays" value="7" />
    <add key="RetryPeriodInSeconds" value="5" />
    <add key="maximumTimeForRequestWithResponseInMilliseconds" value="100000" />
    <add key="maximumTimeForResponseInMilliseconds" value="180000" />
    <add key="loggingTtlInMinutes" value="15" />
    <add key="NumberOfDaysForPastLineups" value="7" />
    <add key="NumberOfDaysForUpcomingLineups" value="7" />
    <add key="NumberOfDaysForPastFixtures" value="7" />
    <add key="ConcurrentJobTimeoutInSeconds" value="3600" />
    <add key="HalfTimeMaximumDurationInMinutes" value="10" />
    <add key="NumberOfMinutesToCheckForInProgressFixtures" value="120" />
    <add key="Hangfire.Transaction.Timeout.InSeconds" value="120" />
    <add key="Hangfire.Command.Timeout.InSeconds" value="120" />
    <!--STATS Api configuration for motorsport-->
    <add key="StatsApiMotorsportCacheControlHeader" value="no-cache" />
    <add key="MongoDBRetryCount" value="5" />
    <add key="MongoDBWaitTimeInMillisecondsBeforeNextRetry" value="100" />
  </appSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd" autoReload="true" throwExceptions="true" internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

    <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
    <variable name="myvar" value="myvalue" />

    <extensions>
      <add assembly="NLog.MSFTTeams" />
    </extensions>
    <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
    <targets>
      <target name="f" xsi:type="File" layout="${longdate} ${logger} ${message} ${exception:format=tostring}" fileName="${basedir}/logs/current.log" archiveFileName="${basedir}/logs/archive.{#}.log" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="7" concurrentWrites="true" keepFileOpen="false" encoding="iso-8859-2" />
      <target name="console" xsi:type="ColoredConsole" layout="${longdate} ${logger} ${message} ${exception:format=tostring}" />
      <target name="debug" xsi:type="Debugger" layout="${longdate} ${logger} ${message} ${exception:format=tostring}" />

      <target xsi:type="MSFTTeamsTarget" name="MSFTTeamsTarget" layout="${message}" ThemeColorError="FF0000" ThemeColorDefault="" WebHookUrl="https://outlook.office.com/webhook/37cf758b-461f-4119-8827-029240d8d40f@5313c061-2dd7-4e7c-aa59-b31ab4ca92a2/IncomingWebhook/9355ef320ee74e5fbca8bbbc1bf5f620/f167c590-a64a-4f82-aeb1-d3d95ed3dc08" />
    </targets>

    <rules>
      <logger name="*" minlevel="Trace" writeTo="console,debug,f" />
      <logger name="*" minlevel="Warn" writeTo="MSFTTeamsTarget" />
    </rules>
  </nlog>
</configuration>