USE [SuperSportDataEngine_PublicSportData]

GO

BEGIN TRY
	BEGIN TRAN
		PRINT 'Attempting to enable a few tournaments...'
		UPDATE RugbyTournaments
		SET IsEnabled = 1
		WHERE ProviderTournamentId IN -- Use ProviderTournamentId since the system's Ids will be new for each row generated. 
		(
			291,-- Champions Cup
			121,-- Currie Cup
			810,-- Internationals
			293,-- Pro 14 
			191,-- Rugby Championship
			831,-- Sevens 
			181,-- Super Rugby
			241 -- TOP 14
		)
	COMMIT
	PRINT 'Tournaments enabled.'
END TRY
BEGIN CATCH
    PRINT 'Unable to Enable Tournaments.'
    IF(@@TRANCOUNT > 0)
        ROLLBACK TRAN
END CATCH

GO