USE [SuperSportDataEngine_PublicSportData]
GO
BEGIN TRY
	BEGIN TRAN
		PRINT 'Attempting to update Tournaments CMS Names...'

		UPDATE RugbyTournaments SET NameCmsOverride = 'Aviva Premiership'	WHERE ProviderTournamentId = 201
		UPDATE RugbyTournaments SET NameCmsOverride = 'Mitre 10 Cup'		WHERE ProviderTournamentId = 101

	COMMIT
	PRINT 'Tournaments CMS Names updated!'
END TRY
BEGIN CATCH
    PRINT 'ERROR: Unable to update Tournaments CMS Names.'
    IF(@@TRANCOUNT > 0)
        ROLLBACK TRAN
END CATCH

GO