SELECT [ProviderTeamId],[Name]
FROM [SuperSportDataEngine_PublicSportData].[dbo].[RugbyTeams]
BEGIN TRY
		BEGIN TRAN
			PRINT 'Attempting to update CMS Team Names For Currie-Cup...'
			UPDATE RugbyTeams SET NameCmsOverride = 'Vodacom Blue Bulls'			WHERE ProviderTeamId = 1252
			UPDATE RugbyTeams SET NameCmsOverride = 'Toyota Free State Cheetahs'	WHERE ProviderTeamId = 1253
			UPDATE RugbyTeams SET NameCmsOverride = 'Xerox Golden Lions'			WHERE ProviderTeamId = 1254
			UPDATE RugbyTeams SET NameCmsOverride = 'Tafel Lager Griquas'			WHERE ProviderTeamId = 1255
			UPDATE RugbyTeams SET NameCmsOverride = 'Cell C Sharks'					WHERE ProviderTeamId = 1256
			UPDATE RugbyTeams SET NameCmsOverride = 'Steval Pumas'					WHERE ProviderTeamId = 1263
			UPDATE RugbyTeams SET NameCmsOverride = 'DHL Western Province'			WHERE ProviderTeamId = 1257
		ROLLBACK
	PRINT 'CMS Team Names For Currie-Cup updated!'
END TRY
BEGIN CATCH
	PRINT 'ERROR: Unable to update cms Team Names For Currie-Cup!'

	ROLLBACK
END CATCH