USE [SuperSportDataEngine_PublicSportData]
GO
BEGIN TRY
	BEGIN TRAN
		PRINT 'Attempting to update Tournaments CMS Names...'

		UPDATE RugbyTournaments SET NameCmsOverride = 'Aviva Premiership' WHERE ProviderTournamentId = 201
		UPDATE RugbyTournaments SET NameCmsOverride = 'Mitre 10 Cup' WHERE ProviderTournamentId = 101
	    UPDATE RugbyTournaments SET NameCmsOverride = 'French Top 14' WHERE ProviderTournamentId = 241
		UPDATE RugbyTournaments SET NameCmsOverride = 'Rugby Championship' WHERE ProviderTournamentId = 191
		UPDATE RugbyTournaments SET NameCmsOverride = 'HSBC Sevens World Series Dubai' WHERE ProviderTournamentId = 831
		UPDATE RugbyTournaments SET NameCmsOverride = 'Champions Cup' WHERE ProviderTournamentId = 291
		UPDATE RugbyTournaments SET NameCmsOverride = 'Guinness Pro14' WHERE ProviderTournamentId = 293
		UPDATE RugbyTournaments SET NameCmsOverride = 'RBS Six Nations' WHERE ProviderTournamentId = 301
	COMMIT
	PRINT 'Tournaments CMS Names updated!'
END TRY
BEGIN CATCH
    PRINT 'ERROR: Unable to update Tournaments CMS Names.'
    IF(@@TRANCOUNT > 0)
        ROLLBACK TRAN
END CATCH

GO