USE [SuperSportDataEngine_PublicSportData]

GO

BEGIN TRY
	BEGIN TRAN
		PRINT 'Attempting to mark Tier 6 tournaments as Live Scored...'
		UPDATE [SuperSportDataEngine_PublicSportData].[dbo].[RugbyTournaments]
		SET IsLiveScored = 0
		WHERE ProviderTournamentId IN
				(
					121, -- currie-cup
					181, -- super-rugby 
					191, -- the-rugby-championship
					241, -- TOP 14
					301, -- six-nations
					810, -- international
					831, -- sevens 
					850  -- rugby-union-world-cup
				)
	COMMIT
	PRINT 'Tier 6 tournaments are now marked as Live Scored.'
END TRY
BEGIN CATCH
    PRINT 'Unable to update tournaments IsLiveScored flag.'
    IF(@@TRANCOUNT > 0)
        ROLLBACK TRAN
END CATCH

GO