USE [SuperSportDataEngine_PublicSportData]

GO

BEGIN TRY
	BEGIN TRAN
		PRINT 'Attempting to mark Tier 6 tournaments as Live Scored...'
		UPDATE [SuperSportDataEngine_PublicSportData].[dbo].[RugbyTournaments]
		SET IsLiveScored = 1
		WHERE ProviderTournamentId IN
				(
					121, -- Six Nations
					181, -- Super Rugby
					191, -- World Rugby Sevens Series
					241, -- Internationals
					301, -- Currie Cup 
					810, -- The Rugby Championship
					831, -- TOP 14 
					850, -- Rugby Union World Cup
					810  -- International
				)
	COMMIT
	PRINT 'Tier 6 tournaments are now marked as Live Scored.'
END TRY
BEGIN CATCH
    PRINT 'Unable to update tournaments IsLiveScored flag.'
    IF(@@TRANCOUNT > 0)
        ROLLBACK TRAN
END CATCH

GO