<?xml version="1.0"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0"/>
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="SuperSportFeed.IpAddress" value="staging-feed.supersport.com" />
  <!--197.80.203.137-->
  <add key="IsRequestRedirectorEnabled" value="false" />
  <add key="owin:AutomaticAppStartup" value="true" />
  <add key="loggingTtlInMinutes" value="15" />
  <add key="RequestDurationWarningMilliseconds.SuperSportDeprecatedFeed" value="5000" />
  <add key="AuthKey.SuperSportDeprecatedFeed" value="A22C8A7F-844C-4E19-97FB-0A63A71BA290" />
  <add key="CmsKey" value="570d99e4c85914470d914170d1e95144"/>
  <add key="Host.SuperSportDeprecatedFeed" value="http://staging-feed.supersport.com" />
  <add key="AuthKeyCacheExpiryInMinutes" value="10" />
  <add key="MaxResponseCount.RugbyRecentFixtures" value="1000" />
</appSettings>
