<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!-- Settings for reference data -->
    <add key="FixedScheduledJob_ReferenceData_JobId" value="FixedScheduledJob→ReferenceData" />
    <!-- Everyday at 2:00am -->
    <add key="FixedScheduledJob_ReferenceData_JobCronExpression" value="0 2 * * *" />

    <!-- Settings for fixtures -->
    <add key="FixedScheduledJob_FixturesData_JobId" value="FixedScheduleJob→Fixtures" />
    <!-- Everyday at 2:05am -->
    <add key="FixedScheduledJob_FixturesData_JobCronExpression" value="5 2 * * *" />

    <!-- Settings for logs -->
    <add key="FixedScheduledJob_LogsData_ActiveTournaments_JobId" value="FixedScheduleJob→Logs→ActiveTournaments" />
    <!-- Everyday at 2:05am -->
    <add key="FixedScheduledJob_LogsData_ActiveTournaments_JobCronExpression" value="5 2 * * *" />

    <!-- Settings for logs -->
    <add key="FixedScheduledJob_LogsData_CurrentTournaments_JobId" value="FixedScheduleJob→Logs→CurrentTournaments" />
    <!-- Every 1 hour -->
    <add key="FixedScheduledJob_LogsData_CurrentTournaments_JobCronExpression" value="0 */1 * * *" />
  </appSettings>
</configuration>